@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #C7C1A9;
    font-weight: bold;
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

.ttl-index {
    margin-top: 15vh;
    padding-bottom: 5vh;
    text-align: center;
}

.img-mm-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto !important;
    max-height: 50%;
}

.navbar-brand {
    letter-spacing: 3px;
    color: #c24244;
}

.navbar-brand:hover {
    color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #7f4722;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #7f4722;
}

.navbar-scrolled {
    background-color: #ffede7;
}

.row {
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    pointer-events: none !important;
}